/*curveLeft used to curve only left side of filled in sections*/
:root{
    --curveLeft: 5px 0px 0px 5px;
}

/*overflow-x removes horizontal scroll-bar, not sure why it appears in the first place */
body{
    background-color: blue;
    overflow-x: hidden;
    max-width: 100%;
}

header{
    background-color: rgb(73, 143, 73);
    padding-left: 5%;
    padding-bottom: 5px;
    width: 98%;
    border-radius: var(--curveLeft);
}

header img{
    width: 130px;
    margin-right: 50px;
    margin-top: 10px;
}

header h3{
    margin-left: 20px;
}

nav ul{
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
    border-width: 1px;
    padding: 5px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    background-color: rgb(157, 219, 157);
}

/*Makes the buttons change color when the mouse hovers over them*/
nav ul li:hover{
    background-color: white;
}

main{
    margin-top: 50px;
    background-color: rgb(73, 143, 73);
    padding-left: 30px;
    width: 100%;
    border-radius: var(--curveLeft);
    padding-bottom: 1px;
}

h2{
    padding-top: 5px;
}

/*Pseudo 3d effect created here */
section{
    margin-top: 15px;
    background-color: lightskyblue;
    padding-left: 40px;
    width: 100%;
    border-radius: var(--curveLeft);
    filter: drop-shadow(5px -5px 5px #333333);
    line-height: 100%;
}

section img{
    padding-right: 5px;
}

#work2{
    margin-left: 30%;
}

#work3{
    margin-left: 60%;
}

@media screen  and (max-width: 1550px){
    #work2{
        margin-left: 20%;
    }

    #work3{
        margin-left: 40%;
    }
  }
  
  @media screen and (max-width: 1056px) {
      #work2{
          margin-left: 10%;
      }

      #work3{
          margin-left: 20%;
      }
  }

  @media screen and (max-width: 790px) {
      #work2{
          margin-left: 0%;
      }   

      #work3{
          margin-left: 0%;
      }
  }